[project]
name = "alignlayout"
description = "节点对齐、节点拉伸、快捷菜单、收藏菜单、自动布局、选择相同、替换节点、快速连接"
version = "1.0.9"
license = {file = "LICENSE"} 
# classifiers = [
#     # For OS-independent nodes (works on all operating systems)
#     "Operating System :: OS Independent",
#
#     # OR for OS-specific nodes, specify the supported systems:
#     "Operating System :: Microsoft :: Windows",  # Windows specific
#     "Operating System :: POSIX :: Linux",  # Linux specific
#     "Operating System :: MacOS",  # macOS specific
#
#     # GPU Accelerator support. Pick the ones that are supported by your extension.
#     "Environment :: GPU :: NVIDIA CUDA",    # NVIDIA CUDA support
#     "Environment :: GPU :: AMD ROCm",       # AMD ROCm support
#     "Environment :: GPU :: Intel Arc",      # Intel Arc support
#     "Environment :: NPU :: Huawei Ascend",  # Huawei Ascend support
#     "Environment :: GPU :: Apple Metal",    # Apple Metal support
# ]


[project.urls]
Repository = "https://github.com/pixixai/ComfyUI-AlignLayout"
#  Used by Comfy Registry https://registry.comfy.org
Documentation = "https://github.com/pixixai/ComfyUI-AlignLayout/wiki"
"Bug Tracker" = "https://github.com/pixixai/ComfyUI-AlignLayout/issues"

[tool.comfy]
PublisherId = "pixixai"
DisplayName = "ComfyUI-AlignLayout"
Icon = ""
includes = [] 
# "requires-comfyui" = ">=1.0.0"  # ComfyUI version compatibility

